name: postgres
services:
  postgres:
    image: postgres
    container_name: postgres
    environment:
      POSTGRES_USER: surajgoraicse
      POSTGRES_PASSWORD: surajgoraicse
      POSTGRES_DB: portfolio # creates an initial db
    ports:
      - "5432:5432"
    volumes:
      - /home/suraj/suraj/internal/postgres:/var/lib/postgresql/data
    restart: always
    networks:
      - my-network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: surajgoraicse@gmail.com
      PGADMIN_DEFAULT_PASSWORD: surajgoraicse
    ports:
      - "8080:80"
    depends_on:
      - postgres
    restart: always
    networks:
      - my-network


networks:
  my-network:
    driver: bridge